
<!DOCTYPE html>
<html  dir="rtl">
<head>
    <title>Halap: Terms of use</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body >
<!-- MAIN CONTENT -->
<div class="container-fluid" style="max-width: 1200px;">
  <div class="row justify-content-center">

    <div class="col-xs-12 privacy-policy-container" style="text-align: right;" >
      <p><strong>תנאי שימוש  (בתוכם יש מדיניות פרטיות ומדיניות ביטולים)</strong><br>
      <strong>  ברוכים הבאים לאפליקציית yo</strong></p>
        <p>על מנת שנוכל להעמיד לרשותכם שירות חדשני ברמה גבוהה, ביקשנו ליצור בתקנון זה סביבה משפטית שתאפשר
            <br>
            לנו להתרכז בעיקר – להביא לכם מוצרים ושירותים מצוינים במחירים זולים, באמצעות ממשק משתמש ידידותי ונח
            <br><p>
            .מדריכים יותר ידידותיים ניתן למצוא במקומות הרלוונטיים באתר, ואולם כל אלו כפופים לאמור בתקנון זה
            </p>
            אז תקראו בבקשה את האמור בתקנון ואל תיבהלו מהשפה המשפטית והפורמאלית. אנחנו פה בשבילכם, כדי לשרת
            <br>
            .אתכם ולהביא לכם את מירב התועלת
        </p>

      <p><strong>1. כללי</strong><br>
       1.1. כל פעולה כלשהי באתר זה כפופה לאמור בתקנון זה להלן.
          <br><br>
              1.2. כל המבצע פעולה כלשהי באתר זה מעיד על עצמו שקרא בעיון ובדקדוק את פרטי תקנון זה וכן כי הוא מקבל
          <br>
            על עצמו, ללא סייג, באופן בלתי חוזר, את כל האמור בתקנון זה. תקנון זה מהווה הסכם לכל דבר וענין בין האתר
          <br>
          למשתמשים בו. אם אינך מסכים לתנאי כלשהו מתנאי השימוש נא הימנע משימוש באתר.
          <br><br>
           1.3. מבלי לפגוע בכלליות האמור לעיל, המונח "פעולה" בתקנון זה משמעותו כל הצעת רכישה, רישום לרכישה,
          <br>
          רכישה, רישום כלשהו, פרסום, כתיבת "Talkback", פרסום תגובה, הבעת דעה וכיוצ"ב עניינים הדורשים פעולה
          <br>
          אקטיבית מעבר לקריאת המפורסם באתר זה.
          <br><br>
          1.4. חברת אלעד שגיא 201656600) היא הבעלים הרשום של האתר (להלן: "החברה"). פרטי הקשר של החברה
      <br>
        הם:
      <br>
          שם החברה: אלעד שגיא 201656600
      <br>
          כתובת למשלוח דואר: הצבר 28 עפרה
      <br>
          דואר אלקטרוני:   eladsa6@gmail.com
      <br>
          פקס
      <br>
          טלפון:              0586712772

      <br><br>
          1.5. לשם נוחות הקריאה הדברים מנוסחים בלשון זכר, אולם מתייחסים לגברים ונשים באותה המידה. מקום בו
       <br>
        נכתבים הדברים בלשון רבים, הכוונה גם ללשון יחיד, ולהיפך.
        <br><br>
          1.6. החברה שומרת לעצמה הזכות לשנות תקנון זה מעת לעת, ללא שתמסור על כך הודעה מראש.
      <br><br>
        1.7. רק האמור בתקנון זה יחייב את האתר ואת החברה. מקום בו יש סתירה או אי-התאמה בין האמור בתקנון זה
      <br>
        ובין האמור במקום כלשהו באתר או במקום אחר (בסעיף קטן זה: "המקור-האחר"), יגבר האמור בתקנון זה, אף אם
      <br>
          הוא מוקדם למקור-האחר, אף אם מוזכר תקנון זה במקור-האחר ואף אם המקור-האחר הנו ספציפי יותר ביחס
      <br>
          לנושא הרלוונטי – כל זאת רק אם וככל שאין במקור-האחר כדי להרחיב את זכויות החברה ו/או האתר ו/או אין
      <br>
          במקור-האחר כדי לצמצם את חובות ו/או אחריות החברה ו/או האתר.
      <br><br>
          1.8. תכני האתר ויישומיו, כולם או חלקם, עשויים להופיע ולהיות מוצגים ברשת האינטרנט ו/או בכל מדיה
      <br>
          תקשורתית אחרת, לרבות תקשורת קווית, סלולארית, טלוויזיה ו/או כל מדיה אחרת שהיא; תנאי השימוש המפורטים
      <br>
          בתקנון זה רלוונטיים וחלים על כל ערוץ ו/או מדיה תקשורתית בהם מופיעים ו/או יופיעו תכני האתר ו/או יישומיו, כולם
      <br>
          או חלקם, בשינויים המחויבים.
      <br><br>
          1.9 תכני האתר, כולם או חלקם, עשויים להיות מתורגמים לשפות שונות באמצעות כלי תירגום שונים; תכני האתר
      <br>
          בנוסחם בעברית בלבד מחייבים את החברה. תירגומם ככל שיעשה לשפות שונות הינו לנוחות המשתמש בלבד.

      </p>

      <p><strong>2. מטרתה של אפליקציה זו:</strong><br>
        2.1. האפליקציה (בתקנון זה: "האתר") הינו אתר המספק שירות מקוון אינטראקטיבי המופעל על ידי החברה
      <br>
        ברשת האינטרנט ("אינטרנט"), ומיועד ליתן במה למפרסמים (להלן: "המפרסמים")  להציע את מוצריהם ו/או
      <br>
         שירותיהם (להלן: "המוצרים" ו/או "השירותים"), ולאפשר למשתמשים לרכוש את המוצרים/השירותים המוצעים
      <br>
          על ידי המפרסם באמצעות האתר.
       <br><br>
        2.2.      כל עסקה במוצרים הנה עסקה ישירה בין המשתמש למפרסמים, ואין לראות באתר ו/או בתכניו ו/או במידע
          <br>
          המפורסם באמצעותו על ידי המפרסמים משום המלצה ו/או חוות דעת בקשר למוצר ו/או השירות ו/או הכדאיות
          <br>
          ברכישתם.
          <br><br>
          2.3 התמונות המוצגות למוצרים באתר הינן באחריות המפרסמים והן להמחשה בלבד.
      </p>

        <p><strong>3. המשתמשים</strong><br>
            3.1.      רשאי להשתמש באתר כל אזרח ישראלי, בגיל 18 ומעלה, שברשותו תא דואר-אלקטרוני פעיל ונגיש ברשת
            <br>
            האינטרנט וכרטיס אשראי תקף מחברת אשראי ישראלית.
            <br><br>
            3.2.      על אף האמור לעיל, החברה רשאית שלא לאפשר לאדם ולכל קבוצת אנשים את השימוש באתר, בין אם
            <br>
            אושר שימוש כזה בעבר ובין אם לאו, לפי שיקול דעתה הבלעדי, ללא צורך במתן הנמקה ו/או במתן הודעה מראש.
            <br><br>
            3.3.      מבלי לפגוע בכלליות האמור לעיל יוסבר, שאי-מתן האפשרות להשתמש באתר יעשה בדרך-כלל מסיבות כגון
            <br>
            אמצעי תשלום לא תקף, מסירת פרטים לא-נכונים, פגיעה בחברה, באתר ו/או בספק כלשהו ו/או פגיעה במשתמש
            <br>
            אחר.


        </p>

        <p><strong>4. תהליך ביצוע רכישה</strong><br>
            4.1.      תהליך הרכישה יתחיל בהקלקה באמצעות העכבר על לשונית ה-"קנה", אשר תוביל לטופס מילוי פרטים
            <br>
            אישיים של המשתמש, לרבות פרטי כרטיס אשראי, ואישור קריאת והסכמה לאמור בתקנון זה.
            <br><br>
            בסיום הפעולה המתוארת בסעיף זה, תשלח למשתמש הודעה בדוא"ל המאשרת את השלמת  הרכישה.
            <br><br>
            4.2.      אספקת המוצרים ו/או השירותים תיעשה על-ידי המפרסם, בהתאם לפרטים שצוינו מראש, אלא אם הוסכם
            <br>
            אחרת ישירות בין המפרסם לחברה.
            <br><br>
            4.3.      כמות המוצרים המוצעת למכירה אינה קבועה ויכולה להשתנות ממוצר למוצר, וללא חובת הנמקה של
            <br>
            החברה ו/או הספק. במקרה בו כמות המוצרים מוגבלת, תתבצע הרכישה על ידי המשתמשים על בסיס כל הקודם,
            <br>
            ועד לגמר המלאי.

        </p>

        <p><strong>5. מחירים</strong><br>
            5.1.      המחירים באתר כוללים מס ערך מוסף, אלא אם צוין אחרת במפורש.
            <br><br>
            5.2.      האתר, החברה ו/או המפרסם אינם מתחייבים שהמחירים של המוצרים/השירותים המפורסמים באתר על ידי
            <br>
            המפרסמים הם  המחירים הזולים ביותר.

        </p>


        <p><strong>6. שוברים (Vouchers)</strong><br>
            6.1.      שובר יזכה את האוחז בו בזכות לקבל מהמפרסם את המוצר/השירות אך ורק בכפוף להצגת תעודה מזהה
            <br>
            ובכפוף לכך שפרטי האוחז בשובר זהים לפרטים שהוזנו באתר בעת הרכישה.
            <br><br>
            6.2.      שובר לא ניתן להעברה ו/או להענקה, להוציא שובר "מתנה", וזאת על פי התנאים המפורטים ב"שובר
            <br>
            המתנה", אלא אם ניתנה לכך הסכמה מפורשת של המפרסם, ובתיאום עימו.
            <br><br>
            6.3.      לא ניתן למכור את השובר
            <br><br>
            6.4.      שוברים אינם כוללים תשלום תשר (Tip).
            <br><br>
            6.5.      תוקף השובר מצוין על גבי השובר ו/או בפרטי הדיל באתר.
            <br><br>
            6.6.      לא ניתן יהיה לעשות שימוש כלשהו, או לקבל החזר כלשהו, במקרה של שובר שפג תוקפו (ראה תאריך תוקף
            <br><br>
            6.7.      לא ניתן להמיר שובר בכסף מזומן או אשראי.
            <br><br>
            6.8.      לא ניתן לממש שובר באופן חלקי.

        </p>

        <p><strong>7. ביטול עסקה והחזרות</strong><br>
            7.1.      המשתמש רשאי לבטל עסקה, דהיינו לחזור בו מרכישת המוצר , בתוך 14 יום מיום ביצוע הרכישה, ובלבד
            <br>
            שהודעת הביטול נמסרה במסמך בכתב עד שבועיים ממועד קבלת ההודעה על השלמת הרכישה[כמפורט בסעיף 14
            <br>
            ג לחוק הגנת הצרכן], והמוצר הוחזר ע"י המשתמש למפרסם מבלי שנעשה בו שימוש ומבלי שנפגם. לגבי שירות –
            <br>
            המשתמש רשאי לבטל עסקה בתוך 14 יום מיום עשיית העסקה, ובלבד שביטול כאמור ייעשה לפחות 2 ימי עבודה
            <br>
            קודם למועד בו השירות אמור להינתן, ובמקרה של הזמנת שרותי הארחה, חופש או בילוי, לפחות שבעה ימי עבודה
            <br>
            קודם למועד שנקבע למתן השירות, והכל בהתאם להוראות חוק הגנת הצרכן התשמ"א-1981. יובהר כי במקרה של
            <br>
            ביטול עסקה, רשאי מפרסם לגבות דמי ביטול כקבוע בחוק, ואשר יסתכמו לשיעור של 5% מסכום העסקה או 100
            <br>
            ש"ח, כנמוך מביניהם. במקרה של ביטול עסקה שנעשה לאחר שהמוצר יצא מהספק, לא יוחזרו ללקוח דמי משלוח.
        <br><br>

            7.3.      ביטול רכישת מוצר יעשה באמצעות משלוח הודעת ביטול בדוא"ל לכתובתeladsa6@gmail.com  ו/או פנייה
            <br>
            ישירה לשרות הלקוחות של האתר באמצעות שליחת הודעה מתוך חשבון המשתמש, ו/או למוקד הטלפוני אשר
            <br>
            פרטיו מופיעים באתר (להלן: "הודעת ביטול"). הודעת ביטול תועבר משירות הלקוחות של האתר במקביל למפרסם
            <br>
            הרלבנטי. מובהר כי עצם משלוח הודעת ביטול בדרך הנ"ל הינה שירות שנותן האתר למפרסם על מנת להקל על
            <br>
            הליך ביטול עסקה, אולם ידוע למשתמש כי ביטול עסקה הינו בסמכות הבלעדית של המפרסם ורק הוא, וכל טענה
            <br>
            ו/או דרישה של המשתמש בנושא זה תהיה אך ורק כלפי המפרסם.
        <br><br>
            7.4.      במקרה שחברת כרטיסי האשראי לא תכבד את החיוב, הרכישה של אותו משתמש שכרטיס החיוב שלו לא
            <br>
            כובד תהיה בטלה ומבוטלת מאותו הרגע.
        <br><br>
            7.5. ביטול עסקה של הזמנת פרחים וסלסלות שי תהיה כפופה לאמור בסעיף 13 להלן.
        <br><br>
            7.6. במקרה של ביטול עסקה עקב פגם או אי התאמה בין המוצר לבין הפרטים אשר הוצגו לגביו, המשתמש יזוכה
            <br>
            במלוא התמורה ששילם בגין המוצר, בתוך 14 יום מהמועד בו החזיר המשתמש את המוצר למפרסם במקום שבו
            <br>
            קיבל את המוצר.

        </p>

        <p><strong>8. משלוחים</strong><br>
            8.1       המפרסמים רשאים לגבות דמי משלוח מהמשתמשים עבור משלוח המוצרים שנרכשו באתר, אשר יכול
            <br>
            להתבצע באמצעי משלוח שונים (דואר, דואר רשום, שליח ועוד) על פי שיקול דעתם, לרבות באמצעות חברות חברות
            <br>
            הפצה שונות ו/או באמצעות דואר ישראל.
            <br><br>
            יובהר כי תנאים אלה יחולו גם במקרה בו המשתמש רשאי להחזיר את המוצר במקום בו קיבל אותו, כאמור בסעיף
            <br>
            7.6 לעיל, ובמקרה כזה על המשתמש להגיע לישוב ו/או לסניף דואר ממנו ניתן לשלוח את המוצר בדואר ו/או
            <br>
            באמצעות חברת הפצה ולמשתמש לא תהיה כל טענה כלפי החברה ו/או כלפי המפרסם במקרה זה.

        </p>

        <p><strong>9. החזרת פסולת של ציוד חשמלי, אלקטרוני וסוללות</strong>
        <br>
            9.1       לקונה, או למי מטעמו, של ציוד חשמלי ואלקטרוני המתאים גם לשימוש ביתי, קיימת האפשרות להחזיר
            <br>
            למוכר, במועד האספקה, פסולת ציוד חשמלי ואלקטרוני שמקורה בציוד חשמלי ואלקטרוני דומה, בכמות או במשקל,
            <br>
            למוצר הנמכר, ללא תשלום או תמורה אחרת על כך.
            <br>
            ציוד חשמלי ואלקטרוני דומה הינו – ציוד חשמלי ואלקטרוני מאותה קבוצת סיווג, שנועד לשימוש דומה לציוד
            <br>
            הנמכר, בלא תלות בשם היצרן או היבואן של הציוד החשמלי והאלקטרוני או בסימן המסחר המופיע עליו.
            <br>
            ידוע לקונה כי מוכר רשאי שלא לקבל פסולת ציוד וסוללות מזיקה.
            <br><br>
            9.2       החזרת פסולת של ציוד חשמלי, אלקטרוני וסוללות, תתבצע באותו האופן בו סופק הציוד החשמלי ואלקטרוני
            <br>
            אשר נרכש על ידי הקונה
        </p>

        <p><strong>10. סודיות ופרטיות</strong><br>
            10.1.      אין חובה למסור פרטים כלשהם של יחיד או תאגיד, ואולם אי-מסירת הפרטים הנדרשים בתהליכי הרישום
            <br>
            והמכירה באתר עלולה שלא לאפשר השלמתה של עסקה.
            <br><br>
            10.2.      החברה ו/או האתר לא יעבירו פרטים של משתמש כלשהו לצד שלישי, ללא אישורו של אותו משתמש
            <br>
            מראש ובכתב, זולת השימוש הנדרש לצורך מתן השירותים למשתמש באתר.
            <br><br>
            10.3.      היות ומדובר בסביבה מקוונת שבה אין אפשרות לאבטחה מוחלטת, כל המוסר פרטים באתר זה עושה זאת
            <br>
            על אחריותו בלבד.
            <br><br>
            10.4.      החברה תעשה מאמצים סבירים ומקובלים כדי לשמור על סודיות פרטי המשתמשים והספקים.
            <br><br>
            10.5.      החברה לא תישא באחריות לכל נזק, אבדן רווחים, פגיעה בשם טוב, הסתמכות, הוצאה, הפרת חוזה
            <br>
            וכיוצ"ב – ישירים ו/או עקיפים – שנגרמו, אם וככל שנגרמו, בשל פגיעה בסודיות פרטי המשתמשים, דליפת פרטי
            <br>
            אמצעי תשלום ו/או פרטי ספקים.

            <br><br>
            10.6.      מובהר, כי ביצוע רישום באתר על ידי משתמש, מהווה הסכמה של המשתמש לקבל דואר אלקטרוני ו/או
            <br>
            מסרונים [SMS] מהחברה, לרבות דואר אלקטרוני ו/או מסרונים [SMS] שמטרתם לעודד רכישת מוצר או שירות,
            <br>
            אשר עשוי לכלול עדכונים בנושאים שונים, פרטים על ביצוע עסקה, פרסום וכיוצ"ב, ולרבות מסרים המכילים תוכן
            <br>
            העונה על ההגדרה "דבר פרסומת", על פי תיקון 40 לחוק התקשורת (בזק ושידורים), התשמ"ב-1982. הינך רשאי,
            <br>
            בכל עת, להודיע לחברה על רצונך להסיר את כתובתך מרשימת הדיוור של החברה, ע"י שליחת הודעה ל:
            <br>
            eladsa6@gmail.com
            <br><br>
            10.7.      האתר והחברה יהיו רשאים להשתמש במידע אישי של משתמש לצרכים פנימיים בלבד, כגון ניתוח מידע
            <br>
            מצרפי בדבר דפוסי רכישה והתנהגות של משתמשים ו/או ספקים, ולצרכי תחקור תלונות ו/או ביקורות, לרבות
            <br>
            באמצעות "עוגייה" (cookies). כל משתמש יכול להגדיר מחדש את הדפדפן שלו כך שיסרב לכל הcookies  או
            <br>
            שיתריע על cookies שנשלחים אליו. למרות זאת, יש לשים לב שמספר חלקים של האתר עלולים לא לתפקד כראוי
            <br>
            אם משתמש מסרב לקבל cookies.

            <br><br>
            10.8.      משתמש שיגיש תלונה או שאילתה בקשר למוצר/שירות ספציפי, יחשב כמי שאישר להעביר את פרטיו
            <br>
            למפרסם הרלוונטי, לצורך בירור תלונתו. אין באמור משום התחייבות של האתר או החברה לטפל בתלונות באופן
            <br>
            כלשהו או בכלל.
            <br><br>
            10.9.      האתר והחברה יענו לכל בקשה למסירת מידע – כולל מידע אישי ומידע פרטי – אם תוגש בהתאם להליך
            <br>
            חוקי, כגון צו חיפוש, צו בית-משפט וכדומה.
        </p>
        <p><strong>11. העדר אחריות</strong><br>
11.1.      החברה ו/או האתר אינם צד להתקשרות שתעשה בין המפרסמים למשתמשים באמצעות האתר.
        <br><br>
        11.2.      החברה ו/או האתר אינם אחראים לאיכות המוצרים, זמני האספקה, הפרטים שפורסמו באתר לגבי
        <br>
            המוצרים, התאמה בין המוצרים שסופקו לתמונות המוצרים שפורסמו באתר, המפרט הטכני, התאמת המוצרים
        <br>
            לצרכי המשתמשים, השירות של המפרסמים, קביעת המחירים, תיקונים, בלאי, זהות היצרנים של המוצרים וכיוצ"ב
        <br>
           עניינים הקשורים באופן כלשהו, ישיר או עקיף, למוצרים ו/או למפרסמים.
        <br><br>
            11.3.      החברה אינה אחראית למועדי התיאום הנקבעים עם המפרסם או עם נתוני השירות מטעמו ו/או נתוני
            <br>
            השירות מטעם החברה בקשר עם רכישת מוצרים מהמפרסם ו/או מהחברה (לפי העניין) וכן לעמידתם של המפרסם
            <br>
            או של נתוני השירות כאמור, במועדי התיאום כאמור. לענין זה, "נותן שירות" הוא לרבות מי שמחוייב לתת שירות בגין
            <br>
            תקופת אחריות ארוכה המחויבת לפי החוק, התקנה או הסרה של טובין, הובלת טובין וכן שירות שניתן בהתאם לחוזה
            <br>
            למתן שירות מתמשך לתיקון טובין תמורת תשלום.
        <br><br>
            11.4.      תמונות המוצרים המופיעות באתר הנן להמחשה בלבד, כפי שנמסרו לאתר על ידי המפרסמים, לצרכי
            <br>
            פרסום באתר.
            <br><br>
            11.5.      החברה ו/או האתר אינם מפקחים ואינם אחראים על אמינות ו/או דיוק המידע המוצג על-ידי המפרסמים,
             <br>
            רמת השירות של המפרסמים, זמני האספקה, ההתאמ99 ש"ח ומעלה99 ש"ח ומעלהלוקרים ונקודות איסוף ברחבי
            <br>
            הארץה בין התמונות למוצרים שסופקו וכיוצ"ב.
            <br><br>
            11.6.      החברה שומרת לעצמה הזכות להפסיק את פעילות האתר בכל עת, לכל פרק זמן, לצורך תחזוקה, בשל
            <br>
            סגירת האתר וכן לכל מטרה ומכל סיבה אחרת. הפסקת פעילות כאמור (זמנית או קבועה) לא תחייב הודעה מראש
            <br>
            או הנמקה כלשהם לאף גורם.
            <br><br>
            11.7.      החברה ו/או האתר אינם אחראים ולא יישאו באחריות – באופן ישיר או עקיף – לכל נזק, אבדן רווחים,
            <br>
            הוצאה, פגיעה בשם טוב, הסתמכות, הפרת חוזה, עוולה כלשהי וכיוצ"ב שנגרמו, אם וככל שנגרמו, למשתמש, ספק
            <br>
            ו/או צד ג' כלשהו, בקשר (ישיר או עקיף) עם האתר, השימוש בו, המוצרים, השימוש בהם, בשל הפסקת פעילות
            <br>
            האתר (באופן זמני או קבוע) ו/או הספקים.
            <br><br>
            11.8.      מבלי לפגוע באמור לעיל, ככל שמופיע קישור (Link) חיצוני באתר, החברה ו/או האתר לא יהיו אחראים
            <br>
            באופן כלשהו – ישיר או עקיף – לתכניו של אותו קישור, המידע שמתפרסם בו, תמונות המופיעות בו, הסתמכות על
            <br>
            כל אלו וכל נזק, הוצאה ואבדן רווחים, ישיר ו/או עקיף, שנגרמו כתוצאה ו/או בקשר עם אותו קישור חיצוני.
            <br><br>
            11.9.      מבלי לפגוע בכלליות האמור לעיל מובהר, שיתכן שבשל תקלות טכניות ו/או הצורך בתחזוקת האתר, רכישות
            <br>
            של משתמשים לא יושלמו . משתמשים באתר נדרשים להיות מודעים לכך ובעשותם פעולה באתר הם לוקחים על
            <br>
            עצמם את האחריות המלאה לכל נזק, הסתמכות, הוצאה, אבדן רווחים וכיוצ"ב תוצאות העלולות להיות לתקלות
            <br>
            שכאלו.
            <br><br>
            11.10.      המשתמשים והמפרסמים אחראים כלפי האתר, החברה, משתמשים אחרים ומפרסמים אחרים בכל
            <br>
            מעשה או מחדל בהתאם להוראות הדין.

        </p>

        <p><strong>12. שימוש בלתי מורשה באתר</strong><br>
        12.1.   אין לעשות שימוש בלתי מורשה באתר זה.
            <br><br>
            12.2.   מבלי לפגוע בכלליות האמור לעיל, אין להפיץ, להעתיק, לשכפל ו/או להציג את תכולת האתר באתרים אחרים
            <br>
            או פרסומים אחרים, ללא אישור מראש ובכתב מהחברה, לרבות איסור על שימוש בטכניקות Framing ו-
            <br>
            Automated Data Mining Tools.
            <br><br>
            12.3.   אין לעשות שימוש בלוגו של האתר, בזכויות יוצרים ו/או בקניין רוחני כלשהו של האתר ו/או החברה ללא אישור
            <br>
            החברה מראש ובכתב.
        </p>

        <p><strong>13. זכויות יוצרים וסימני מסחר</strong><br>
            13.1.   כל הנמצא באתר זה, הוא רכושה הבלעדי של החברה או בשימוש עם רשות מפורשת של זכויות יוצרים ו/או
            <br>
            הבעלים של הסימן המסחרי. העתקה כלשהי, הפצה, שידור, פרסום, קישור, או שינוי אחר של אתר זה או כל הנמצא
            <br>
            בו ללא רשות מפורשת בכתב של החברה היא אסורה בהחלט.
            <br><br>
            13.2.    כל הפרה של מדיניות זו עלולה לגרום להפרת זכות יוצרים, סימן מסחר או זכות קניין רוחני אחרת אשר
            <br>
            תחשוף את המפר לתביעות אזרחיות ו/או הליכים פליליים.
            <br><br>
            13.3.   אתר זה כולל חומר המוגן בזכויות יוצרים, סימני מסחר וזכויות קנין רוחני אחרות, לרבות, אך לא רק, מלל,
            <br>
            תוכנות, תמונות, מוזיקה ווידאו, גרפיקה וסאונד, וכן את כל התוכן של האתר.
            <br><br>
            13.4.   החברה הינה בעלת זכות יוצרים בתוכן, בסדר הבחירה, בתיאום ובקידום של התוכן באתר, ואף גורם אינו
            <br>
            רשאי לשנות, לפרסם, לשדר, להשתתף בהעברה או מכירה, ליצור יצירות נגזרות, או לנצל בדרך כלשהי את התוכן,
            <br>
            במלואו או בחלקו.
            <br><br>
            13.5.   אין לחברה כל חובה לספק למשתמשים באתר סימנים או כל דבר אחר שעשוי לסייע למשתמשים לקבוע
            <br>
            האם החומר המדובר מוגן בזכויות יוצרים או סימן מסחרי.

        </p>

        <p><strong>14. הדין החל ומקום השיפוט</strong><br>
        14.1.   הדין החל על כל הקשור באתר זה הוא הדין הישראלי בלבד.
            <br><br>
            14.2.   בכל מקרה של מחלוקת תהא לבתי המשפט של מחוז תל אביב – יפו הסמכות הבלעדית לדון בתביעה.
            <br><br>
            14.3.   מובהר כי האמור בסעיפים 14.1 – 14.2  לעיל, חל גם על משתמש שאינו תושב ו/או אזרח ישראל, ובשום
            <br>
            מקרה לא תשמע טענה לפיה ישראל אינה פורום נאות ו/או כי יש להחיל על כל התקשרות שהיא הקשורה לאתר זה
            <br>
            דין זר.



        </p>

        <p><strong>צור קשר</strong><br>
            ליצירת קשר ניתן לפנות אלינו במס' 0586712772 או לכתובת המייל eladsa6@gmail.com
            <br>
            או למלא טופס פניה ונחזור אליכם בהקדם:
            <br>
            שם:
            <br>
            משפחה:
            <br>
            מייל:
            <br>
            טלפון:
            <br>
            הפניה:





        </p>









<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
