
<!DOCTYPE html>
<html>
<head>
    <title>Halap: Terms of use</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body >
<!-- MAIN CONTENT -->
<div class="container-fluid" style="max-width: 1200px;">
  <div class="row justify-content-center">

    <div class="col-xs-12 privacy-policy-container" style="text-align: right;" >
      <p><strong>תנאי שימוש  (בתוכם יש מדיניות פרטיות ומדיניות ביטולים)</strong><br>
      <strong>yo ברוכים הבאים לאפליקציית</strong></p>
        <p>על מנת שנוכל להעמיד לרשותכם שירות חדשני ברמה גבוהה, ביקשנו ליצור בתקנון זה סביבה משפטית שתאפשר
            <br>
            .לנו להתרכז בעיקר – להביא לכם מוצרים ושירותים מצוינים במחירים זולים, באמצעות ממשק משתמש ידידותי ונח
            <br>
            .מדריכים יותר ידידותיים ניתן למצוא במקומות הרלוונטיים באתר, ואולם כל אלו כפופים לאמור בתקנון זה
            <br>
            אז תקראו בבקשה את האמור בתקנון ואל תיבהלו מהשפה המשפטית והפורמאלית. אנחנו פה בשבילכם, כדי לשרת
            <br>
            .אתכם ולהביא לכם את מירב התועלת
        </p>

      <p><strong>About Us</strong></p>
      <p>Pogoseat (UK) Limited will be what is known as the, &ldquo;Controller&rdquo; of the personal data you provide to us or which we obtain from another source such as the club or organization that you support or are a member of.</p>
      <p>We are registered in England and Wales under registration no. 09314473 and our registered office address is at 4 Quex Road, London, England, NW6 4PJ.</p>
      <p>We can be contacted via email on support@pogoseat.com</p>
      <p><strong>Information Collected</strong></p>
      <p>Pogoseat gathers two basic types of information through the Website: "Personally Identifiable Information" (or "PII") and "Non-Personally Identifiable Information" (or "Non-PII"). PII is information that identifies or can identify you as an individual (such as mailing address, email address, telephone number, or billing information) and Non-PII is aggregated information, demographic information, IP addresses, geographic location and any other information that does not reveal your specific identity. This Privacy Policy is largely concerned with PII but the Annex also deals with the Non-PII that we collect.</p>
      <p><strong>Security of Information Collected</strong></p>
      <p>We maintain physical, electronic, and procedural safeguards to protect the confidentiality and security of information transmitted to us. To guard your information delivered to us electronically, our Website uses Secure Sockets Layer (SSL). SSL encrypts your credit card number, name and address so only we are able to decode your information. Unfortunately, however, no data transmission over the Internet can be guaranteed to be 100% secure. While we strive to protect your contact information, we cannot guarantee that PII supplied by users will not be improperly accessed on our servers, or intercepted while being transmitted to us over the Internet. We assume no liability for any damages you may suffer as a result of unauthorized access to our files, or interception, alteration or misuse of information during such transfers. If you have reason to believe that there has been any breach of the security of the Website, please contact us at support@pogoseat.com</p>
      <p>We urge you to keep any password that you establish with us in a safe place and not to divulge it to anyone. Also remember to log off your account and close your browser window when you have finished your visit. This is to ensure that others cannot access your account, especially if you are sharing a computer with someone else or are using a computer in a public place such as a library or Internet cafe.</p>
      <p><strong>How do we use your Personally Identifiable Information?</strong></p>
      <p>We have set out below the purposes for which we may use your PII.</p>
      <p>This PII may be provided to us directly by you, by the club or organization that you support or are a member of where you have registered with us through the site of a club or other organization or through a ticketing agency where you have bought tickets through such an agency. The PII which we may obtain from your club or organization or from a ticketing agency are details about you and the tickets you have purchased including your name, address and age.</p>
      <li><strong>Providing you with our services.</strong></li>
      <p>Pogoseat may use your PII for the purposes of operating our Website and providing to you the services that you have signed up for (e.g., using your name and email to confirm your registration or using your credit card information to fulfill your purchase).</p>
      <p>The legal basis for this processing is our legitimate interests namely the administration of our website and the provision of services to you or the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.</p>
      <li><strong>Text To Buy</strong></li>
      <p>Where you have registered with our &ldquo;text to buy&rdquo; service or with any other service where you have asked us to send you SMS text messages or similar then we will use your PII to send you messages according to your preferences and requests.</p>
      <p>The legal basis for this processing is our legitimate interests namely the administration of our website and the provision of services to you or the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.</p>
      <li><strong>Facilitation of Transactions.</strong></li>
      <p>Forms on the Website may sometimes be pre-populated with your PII in order to facilitate a transaction between you and Pogoseat.</p>
      <p>The legal basis for this processing is our legitimate interests namely the administration of our website and the provision of services to you or the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.</p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
